{
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "plugins": [
    "mocha",
    "node",
    "editorconfig"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "standard",
    "plugin:editorconfig/noconflict"
  ],
  "rules": {
    "mocha/no-exclusive-tests": 1,
    "editorconfig/editorconfig": "error"
  },
  "globals": {
  }
}
