{
  "env": {
    "node": true,
    "es6": true,
    "jest/globals": true,
    "amd": true
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "plugins": [
    "jest",
    "node",
    "editorconfig"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "plugin:jest/recommended",
    "standard",
    "plugin:editorconfig/noconflict"
  ],
  "rules": {
    "editorconfig/editorconfig": "error"
  },
  "globals": {
  }
}
